project/Assembly-CSharp-firstpass-vs.csproj
project/Assembly-CSharp-firstpass.csproj
project/Assembly-CSharp-vs.csproj
project/Assembly-CSharp.csproj
project/Assembly-UnityScript-firstpass-vs.unityproj
project/Assembly-UnityScript-firstpass.unityproj
project/Assembly-UnityScript-vs.unityproj
project/Assembly-UnityScript.unityproj
project/UpgradeLog.htm
project/project-csharp.sln
project/project.sln
.DS_Store
project/Assets/ShaderForge/
project/Assets/ShaderForge.meta
