# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
project/Assets/ShaderForge/Readme.txt.meta
project/Assets/ShaderForge/Editor/Code.meta
project/Assets/ShaderForge/Editor.meta
project/Assets/ShaderForge/
project/Assets/ShaderForge.meta
